.jumbotron{
  background-color:#ebebeb;
}

.profile-pic{
  margin-top: 15px;
}

.body{
  max-height: 250px;
}

.pub-header{
  margin-left: 10px;
  margin-right: 10px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 20px;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-variant: small-caps;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.year-header{
  margin-left: 10px;
  margin-right: 10px;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 15;
  width: 100%;
  text-align: left;
  font-weight: 00;
  font-variant: small-caps;
  border-bottom: 1px solid black;
}


.title-header{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-align: left;
}

.abstract{

  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
  margin-top:10px;

  text-align: left;
  font-size: 15px;
  font-weight: 100;
  font-family: 'Roboto Condensed', sans-serif;
}

