body{
  font-size: 14px;
}

.jumbotron{
  text-align: center;
  padding: 25px; 
}

.cv-img{
  display: inline-block;
  width: 100%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

ul{
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

small{
  font-size: 15px;
  color: black;
  font-weight: 300;
}

.cv{
  text-align: left;
}

.cv-title{
  text-align: center;
}

.cv-position{
  margin-top: 5px;
  text-align: left;
}

.cv-header{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 20px;
  font-variant: small-caps;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

.cv-year{
  float:right;
  font-family: 'Montserrat', serif;
}

img {
    transition:transform 0.25s ease;
}

ul.cv-publist li {
  margin-bottom: 2px;
}
