.image-container {
    width: 100%;
    height: 250px; /* Set a constant height for the image container */
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* make the cards look like ubttons
 * Path: Travel.css */
.card {
    cursor: pointer;
    border: 10px;
    border-radius: 10px 10px 0 0;
    border-color: black;
}

/* Add a hover effect to the cards */
.card-container:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}

/* card body */
.card-body {
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px;
}
