.jumbotron{
  background-color:#ebebeb;
  padding: 25px;
}

p{
  margin-left: 25px;
  margin-right: 25px;
}

.topic-selection{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 20px;
  font-variant: small-caps;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.post{
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.post-header{
  font-variant: small-caps;
  border-bottom: 1px solid black;
  display: flow-root;
  width: 100%;
}

.title{
  text-align: left;
  float: left;
  width: auto;
  font-size: 20px;
}

.date{
  text-align: right;
  float: right;
  width: auto;
  font-size: 15px;
}

.btn-dark{
  color: #E0E0E0;
  background-color: black;
  border-color: #343a40;
  margin-left: 5px;
  margin-right: 5px;
}

.topic{
  width: auto;
  margin: 5px;
  text-align: center;
  float: left;
  display: inline-block;
}

.topic-list{
  display: block;
}

.post-body{
  text-align: left;
}


/* adjustments made to the page orientation upon change of screen size */
@media screen and (max-width: 767px) {

  .profile-photo-subtitle{
    content: "";
  }

  .bio-alignment{
    text-align: center;
  }


}

@media screen and (min-width: 767px) {

  .profile-photo-subtitle{
    content: "David H Smith IV";
  }

  .bio-alignment{
    text-align: left;
  }

}
