.lab-container {
  padding: 30px;
}

.announcement-card {
  margin-bottom: 30px;
  overflow: hidden;
}

.announcement-header {
  background-color: #343a40;
  padding: 15px;
  color: white;
}

.announcement-header h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.announcement-content {
  font-size: 1.1rem;
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top: none;
}

.name-badge {
  background-color: #343a40;
  padding: 10px 16px;
  width: 100%;
  text-align: center;
}

.name-badge h5 {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 1.1rem;
  color: white;
}

.position-text {
  font-size: 0.85rem;
  color: #f8f9fa;
  margin-bottom: 0;
}

.member-card {
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.member-image {
  object-fit: cover;
  height: 250px;
  width: 100%;
  border-radius: 0;
}

.role-section {
  margin-bottom: 40px;
}

.role-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.lab-banner {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: #212529 !important;
}

.lab-logo-image {
  width: 150px;
  height: auto;
}

.lab-name {
  font-family: var(--font-family-base);
  font-size: var(--font-size-xxl);
  line-height: 1.2;
  color: var(--light-text);
  max-width: 800px;
  /* centering */
  margin: 0 auto;
  text-align: center;
}

/* hide text on mobile and center logo */
@media (max-width: 768px) {
  .lab-name {
    display: none;
  }
  .lab-banner {
    justify-content: center;
    padding: 1.5rem;
  }
  .lab-logo-image {
    width: 100%;
  }
}

